
<div id="container">
	<div>
		<ul style="color: red; font-weight: bold">
		{{#each error}}
		  <li>{{this}}</li>
		{{/each}}
		</ul>
	</div>

	<p class="centered">Your Games</p>

	{{#if board}}
		<ul class="list-group">
		{{#each board}}
			<li class="list-group-item">
				<a onclick="loadGame('{{_id}}', '{{../username}}')">Game {{_id}}</a>
				<br>
				move time: {{timed}}m
				<br>
				player is: <ico class="glyphicon glyphicon-king {{player}}"> {{player}}</ico>
				<br>
				game Expires on: 
				<br>
				{{timeOut}}
				<br>
				Status:
				{{#if active}}
					<state class="active">Active</state>
				{{else}}
					<state class="notactive">Not Started</state>
				{{/if}}
				</state>
				<div class="board">
				{{#each board}}
					{{#if this}}
						<piece class="{{this}} glyphicon"></piece>
					{{else}}
						<piece></piece>
					{{/if}}
				{{/each}}
				</div>
			</li>
		{{/each}}
	{{else}}
		<p>You are not in any games:</p>
		<ul>
			<li><p>Create a new game</p></li>
			<li><p>Search for a game</p></li>
		</ul>
	{{/if}}
</div>